robotframework==6.1.1
robotframework-seleniumlibrary==6.1.3
robotframework-pabot==4.0.0 

selenium==4.18.1
webdriver-manager==4.0.1

robotframework-requests==0.9.6
robotframework-datadriver==1.10.0

requests==2.32.3
PyYAML==6.0.2
python-dotenv==1.0.1
allure-robotframework==3.1.1
requests==2.32.3
pyngrok==7.0.0
