robotframework==7.0
robotframework-seleniumlibrary==6.3.0
robotframework-requests==0.9.6
robotframework-jsonlibrary==0.5
robotframework-datadriver==1.10.0
robotframework-pabot==3.3.1
PyYAML==6.0.2
python-dotenv==1.0.1
allure-robotframework==3.1.1
requests==2.32.3
pyngrok==7.0.0