name: Robot Framework CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment (sandbox/prod)"
        required: true
        default: "sandbox"

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Robot Framework tests
        env:
          CI: "true"
          BROWSER: chrome
          HEADLESS: "true"
        run: |
          python run_tests.py ${{ github.event.inputs.environment || 'sandbox' }}

      # Generar reporte Allure
      - name: Build Allure Report
        if: always()
        uses: simple-elf/allure-report-action@master
        with:
          allure_results: results/allure-results

      # Preparar carpeta para GitHub Pages
      - name: Prepare GitHub Pages content
        if: always()
        run: |
          mkdir public
          
          echo "Copiando reporte de Allure..."
          cp -r allure-report public/allure
          
          echo "Copiando reporte de Robot Framework..."
          mkdir public/robot
          cp results/executions/latest.txt public/latest.txt || true
          
          LATEST=$(cat results/executions/latest.txt)
          cp -r $LATEST/* public/robot/

      # Deploy a GitHub Pages
      - name: Deploy Reports
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: public
          publish_branch: gh-pages
          force_orphan: true